<div class="navbar bg-nav p-3">
    <div id="brand" class="d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 34">
        <path fill="#FFF" fill-rule="evenodd"
          d="M6.874 23.905c3.886-.947 9.522-1.095 16.102 2.229 3.162 1.594 6.745 1.358 9.93.566v-9.233h1.598l-1.136-1.897-.084-.142-.21-.344-7.24-12.209-2.926 3.61V0h-2.727v9.85l-1.328 1.641-3.792-4.008-5.319 5.474V5.882H7.02v9.88l-1.66 1.705 1.514.004v6.434Zm14.261-7.88 4.092-4.11a.183.183 0 0 1 .263 0l4.092 4.11a.19.19 0 0 1 0 .263l-.785.788a.185.185 0 0 1-.26 0l-2.44-2.454v7.167c0 .101-.08.184-.182.185h-1.109a.185.185 0 0 1-.185-.185v-7.167l-2.44 2.454a.185.185 0 0 1-.26 0l-.786-.788a.19.19 0 0 1 0-.263Zm20.66 9.57c-.62-.813-11.01 6.42-18.82 2.48-11.77-5.94-20.51-.779-21.633.186-1.122.964-1.88 2.383-.866 2.295.977-.084 10.86-4.203 20.841.836 3.317 1.675 6.112 2.32 8.505 2.32 4.766 0 9.263-3.109 10.493-4.612 1.23-1.504 2.1-2.693 1.48-3.506Z" />
      </svg>
      <h1 class="mb-0 text-white">CRS Submit</h1>
    </div>
    <div class="mr-4 ml-auto"><a class="text-white" href="#" id="feedback-button">Give Feedback</a></div>
    <div class="dropdown">
      <button class="btn-nope logout-dropdown" type="button" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="text-text-ph bg-bg-blue rounded-circle">
          <span class="sr-only">User Actions</span>
          <i class="material-icons text-secondary">person</i>
        </span>
        <i class="material-icons text-bg-blue">keyboard_arrow_down</i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSort">
        <a href="/Account/Logout" class="dropdown-item">Logout</a>
      </div>
    </div>
</div>