<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="display:grid;gap:0.75rem;">
        <fieldset class="px-3 pb-3 pt-1">
          <legend>Project Name</legend>
          <label for="formGroupExampleInput" class="sr-only">Project Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example project name">
        </fieldset>
        <fieldset class="px-3 pb-3 pt-1">
          <legend>Points per Topic</legend>
          <label for="formGroupExampleInput2" class="sr-only">Points per Topic</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Example points per topic">
        </fieldset>
        <fieldset class="px-3 pb-3 pt-1">
          <legend>Topics Covered</legend>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Hazard</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Insure</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">People</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label" for="inlineCheckbox4">Property</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
            <label class="form-check-label" for="inlineCheckbox5">Build</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
            <label class="form-check-label" for="inlineCheckbox6">Natural</label>
          </div>
        </fieldset>
        <fieldset class="px-3 pb-3 pt-1">
          <legend>PPI Messages</legend>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
            <label class="form-check-label" for="inlineCheckbox7">Msg 1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
            <label class="form-check-label" for="inlineCheckbox8">Msg 2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
            <label class="form-check-label" for="inlineCheckbox9">Msg 3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
            <label class="form-check-label" for="inlineCheckbox10">Msg 4</label>
          </div>
        </fieldset>
        <fieldset class="px-3 pb-3 pt-1">
          <legend>Times per Year</legend>
          <label for="formGroupExampleInput" class="sr-only">Times per Year</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example times per year">
        </fieldset>
        <fieldset class="px-3 pb-3 pt-1">
          <legend>Count</legend>
          <label for="formGroupExampleInput2" class="sr-only">Count</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Example count">
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-purple">Add</button>
      </div>
    </div>
  </div>
</div>