:root {
  --primary_blue: #024774;
  --ltblue: #f2f8ff;
  --purple: #511d9a;
  --darkpurple: #3d1377;
  --yellow-highlight: #fafad2;
  --smokey: #eaecee;
  --font-stack: 'work sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


/* EXISTING STYLES...I THINK */
html {
  font-size: 16px;
}
body {
  font-family: var(--font-stack);
}
.bg-nav {
  background-color: var(--primary_blue);
}
#brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
#brand svg {
  width: 42px;
  height: 34px;
}
#brand h1 {
  font-size: 1.4rem;
}
.navbar .logout-dropdown .rounded-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.navbar .logout-dropdown .rounded-circle .material-icons {
  margin-top: 3px;
}
.text-text-ph {
  color: rgba(0, 0, 0, 0.42) !important;
}
.text-bg-blue {
  color: var(--ltblue) !important;
}
.text-secondary {
  color: #024774 !important;
}
.bg-bg-blue {
  background-color: var(--ltblue) !important;
}
.btn-nope {
  text-shadow: 0 0 0 transparent;
  background: transparent;
  border: 0 solid transparent;
  box-shadow: 0 0 0 transparent;
}
.text-purple {
  color: var(--purple);
}
.border {
  border: 1px solid #dee2e6 !important;
}
.btn-purple {
  color: white;
  background-color: var(--purple);
  border-color: var(--purple);
}
.btn-purple:hover, .btn-purple:focus {
  color: white;
  background-color: #40177a;
  border-color: #3a156f;
}


/* STYLES THAT ARE UNNECESSARY TO RE-CREATE */
/* just adds light yellow highlight to data added via JS in 350Web1 */
.highlightcell {
  background-color: var(--yellow-highlight);
}


/* STYLES TO OVERRIDE BOOTSTRAP */
/* yellow hover state */
.table-hover tbody tr:hover {
  background-color: var(--yellow-highlight);
}
/* prevents BS from adding two bottom borders to TDs or THs in THEADs w/thead-light class */
.table .thead-light :is(td, th) {
  border-bottom: none;
}


/* NEW STYLES */
/* in 510FMP, some cells act as in-table headings; this styles their empty, adjacent siblings...optional */
.emptycell {
  background-color: var(--smokey);
}
/* i didn't see support in BS 4.6 for LEGENDs... */
.modal legend {
  display: inline-block;
  width: auto;
  padding-inline: 0.15rem;
  margin-left: 0.25rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  color: var(--purple);
  background-color: white;
}