<div class="infobar bg-white border-bottom border-gray container-fluid">
  <div class="row flex-lg-nowrap my-md-0 p-3">
    <div class="d-flex align-items-center w-100">
      <hw class="h5 mb-0">
        330OP • Outreach Projects Worksheet
      </hw>
      <div class="ml-auto mr-3">
        <a class="btn btn-outline-secondary" href="#!/scorecardLanding/1/330">
          Cancel
        </a>
      </div>
      <div class="">
        <a class="btn btn-purple">
          Save
        </a>
      </div>
    </div>
  </div>
</div>