---
title: Verification Report
---

<div class="container-fluid my-3">

  <table class="table table-sm table-bordered worksheet-table mb-0">
    <caption>* The 400 Series is affected by the County Growth Adjustment (CGA) for a community. The CRS multiplies the base score of Activity by the growth rate (CGA value) to achieve the total Activity score. See Activity 710 in the 2017 CRS Coordinator’s Manual for further explanation.</caption>
    <thead>
      <tr>
        <th scope="col" class="bg-bg-blue align-middle">CRS Activity</th>
        <th scope="col" class="bg-bg-blue text-center align-middle">Previous Report Date<br>Verification</th>
        <th scope="col" class="bg-bg-blue text-center align-middle">Current Report Date<br>Verification</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>310 - Elevation Certificates</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>320 - Map Information Service</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>330 - Outreach Projects</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>340 - Hazard Disclosure</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>350 - Flood Protection Information</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>360 - Flood Protection Assistance</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>370 - Flood Insurance Promotion</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>410 - Floodplain Mapping</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>420 - Open Space Preservation</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>430 - Higher Regulatory Standards</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>440 - Flood Data Maintenance</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>450 - Stormwater Management</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>510 – Floodplain Management Planning</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>520 – Acquisition and Relocation</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>530 – Flood Protection</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>540 – Drainage System Maintenance</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>610 - Flood Warning Program</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>620 - Levees</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>630 - Dams</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" class="text-right px-2">Total CRS Credit</th>
        <td id="totalSubtotal" class="text-center">10</td>
        <td id="totalSubtotal" class="text-center">10</td>
      </tr>
      <tr>
        <th scope="row" class="text-right px-2">Classification</th>
        <td id="totalSubtotal" class="text-center">10</td>
        <td id="totalSubtotal" class="text-center">10</td>
      </tr>
    </tfoot>
  </table>

</div>
