---
layout: layouts/base.liquid
---

{% include "partials/ex-header.liquid" %}
{% include "partials/subheader.liquid" %}

<div class="container-fluid my-3">
  {% if sheet_type == "modal" %}
    {% include "partials/worksheet-table-actions.liquid" %}
  {% endif %}
  {{ content }}
</div>
