---
layout: base.liquid
permalink: /
title: CRS Score Worksheets
eleventyExcludeFromCollections: true
---

<div class="container-fluid my-3" style="display: grid;gap:0.5rem;">

  <h2>Worksheets</h2>

  <dl>
    {% assign worksheetGroup = collections.worksheets | group_by: "data.sheet_type" | sort: "data.title" %}
    {% for group in worksheetGroup %}
      <dt class="mb-1" style="font-size:1.25rem" id="{{ group.name | slugify }}">
        {{ group.name |  capitalize }}
      </dt>
      {% for page in group.items %}
        <dd class="pl-3"><a href="{{ page.url }}">{{ page.data.title }}</a></dd>
      {% endfor %}
    {% endfor %}
    <dt class="mb-1" style="font-size:1.25rem" id="errors">
      Errors
    </dt>
     <dd class="pl-3"><a href="errors.html">Errors template</a></dd>
  </dl>
  
</div>