---
layout: base.liquid
permalink: /
title: CRS Score Worksheets
eleventyExcludeFromCollections: true
---

<div class="container-fluid my-3">

<section class="mb-5">
  <h2>Worksheets</h2>
  <dl>
    {% assign worksheetGroup = collections.worksheets | group_by: "data.sheet_type" | sort: "data.title" %}
    {% for group in worksheetGroup %}
      <dt class="mb-1" id="{{ group.name | slugify }}">
        {{ group.name |  capitalize }}
      </dt>
      {% for page in group.items %}
        <dd class="pl-3"><a href="{{ page.url }}">{{ page.data.title }}</a></dd>
      {% endfor %}
    {% endfor %}
  </dl>
</section>

<section class="mb-5">
  <h2>Errors</h2>
  <dl>
    <dt class="mb-1">
      502 / 503 Errors
    </dt>
    <dd class="pl-3"><a href="errors.html">Errors template</a></dd>
  </dl>
</section>

<section>
  <h2>In Progress</h2>
  <dl>
    <dt class="mb-1">
      Concepts
    </dt>
    <dd class="pl-3"><a href="/verification-report/">Verification Report V1</a></dd>
    <dd class="pl-3"><a href="/quick-submit/">CRS Quick Submit V1</a></dd>
  </dl>
</section>

</div>