<div
  style="grid-area: sidebar; display: flex; background-color: var(--bg-bg-gray)"
  class="sidebar px-0"
>
  <ul style="flex: 1 1 0; height: 100%" class="overflow-hidden">
    <li class="border-bottom border-gray">
      <a
        class="title d-flex flex-column px-2 text-decoration-none text-center my-3 text-text-secondary mx-auto"
        href="/"
        ng-class="vm.isActive('communities')"
      >
        <i class="material-icons">diversity_3</i>
        Communities
      </a>
    </li>
    <li class="border-bottom border-gray">
      <a
        class="d-flex flex-column px-2 title text-decoration-none text-center my-3 text-text-secondary mx-auto"
        ng-class="vm.isActive('users')"
        ui-sref="users"
        href="#!/users"
      >
        <i class="material-icons">person</i>
        Users
      </a>
    </li>
    <li class="border-bottom border-gray">
      <a
        class="d-flex flex-column px-2 title text-decoration-none text-center my-3 text-text-secondary mx-auto"
        ng-class="vm.isActive('assignReviewers')"
        ui-sref="assignReviewers"
        href="#!/assignReviewers"
      >
        <i class="material-icons">assignment_add</i>
        Assign <br />
        reviewers
      </a>
    </li>
    <li class="border-bottom border-gray">
      <a
        class="d-flex flex-column px-2 title text-decoration-none text-center my-3 text-text-secondary mx-auto"
        ng-class="vm.isActive('reviews')"
        ui-sref="reviews"
        href="#!/reviews"
      >
        <i class="material-icons">article</i>
        Reviews
      </a>
    </li>
    <li class="item viewAll border-bottom border-gray">
      <a
        class="d-flex flex-column px-2 title text-decoration-none text-center my-3 text-text-secondary mx-auto"
        ng-class="vm.isActive('file-mover')"
        ui-sref="fileMover({mode:'admin'})"
        href="#!/file-mover/admin"
      >
        <i class="material-icons">drive_file_move</i>
        File Mover
      </a>
    </li>
    <li class="item viewAll border-bottom border-gray">
      <!-- ngIf: vm.appInfo.enableScorecard --><a
        class="d-flex flex-column px-2 title text-decoration-none text-center my-3 text-text-secondary mx-auto ng-scope"
        ng-class="vm.isActive('scorecard')"
        ng-if="vm.appInfo.enableScorecard"
        ui-sref="scorecard"
        href="#!/scorecard"
      >
        <i class="material-icons">scoreboard</i>
        Scorecard </a
      ><!-- end ngIf: vm.appInfo.enableScorecard -->
    </li>
    <li class="item viewAll border-bottom border-gray">
      <a
        class="title d-flex flex-column px-2 text-decoration-none text-center my-3 text-text-secondary mx-auto"
        ng-class="vm.isActive('archivedCertfications')"
        ui-sref="archivedCertfications"
        href="#!/archivedCertfications"
      >
        <i class="material-icons">card_membership</i>
        Archived <br />
        Certs
      </a>
    </li>
    <li class="item viewAll border-bottom border-gray active">
      <a
        class="title d-flex flex-column px-2 text-decoration-none text-center my-3 text-text-secondary mx-auto"
        ng-class="vm.isActive('emailNotifications')"
        ui-sref="emailNotifications"
        href="#!/emailNotifications"
      >
        <i class="material-icons text-secondary">mail</i>
        Email Notification<br />
        Settings
      </a>
    </li>
  </ul>
</div>
