<details class="mt-2">
  <summary class="text-primary small">More info</summary>
  <table class="table table-sm table-bordered small">
    <thead>
      <th class="w-50">Flood Protection Level</th>
      <th class="w-50 text-nowrap">FPP or FPB</th>
    </thead>
    <tbody>
      <tr>
        <td>Less than the 10-year flood</td>
        <td class="text-monospace">0.0</td>
      </tr>
      <tr>
        <td>10-year flood, but less than the 25-year flood</td>
        <td class="text-monospace">0.3</td>
      </tr>
      <tr>
        <td>25-year flood, but less than the 50-year flood</td>
        <td class="text-monospace">0.5</td>
      </tr>
      <tr>
        <td>50-year flood, but less than the 100-year flood</td>
        <td class="text-monospace">0.7</td>
      </tr>
      <tr>
        <td>100-year flood</td>
        <td class="text-monospace">0.8</td>
      </tr>
      <tr>
        <td>100-year flood plus one foot of freeboard</td>
        <td class="text-monospace">0.9</td>
      </tr>
      <tr>
        <td>100-year flood plus two or more feet of freeboard</td>
        <td class="text-monospace">1.0</td>
      </tr>
      <tr>
        <td>500-year flood </td>
        <td class="text-monospace">1.0</td>
      </tr>
    </tbody>
  </table>
</details>  