<div class="row justify-content-between align-items-center mb-2">
  <div class="col">
  {% if sheet_type == "modal" %}
    {% if title == '530Credit • Flood Protection Credit Worksheet' %}
      <button
        id="modal-trigger"
        type="button"
        class="btn btn-sm btn-outline-secondary"
        data-toggle="modal"
        data-target="#modal-530"
      >
        + Add Building
      </button>
    {% else %}
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        + Add Project
      </button>
    {% endif %}
  {% endif %}
    <button class="btn btn-sm btn-link text-danger" data-toggle="modal"
    data-target="#exampleModal3">Delete All</button>
  </div>
  {% if title == '530Credit • Flood Protection Credit Worksheet' %}
    <div class="col d-flex justify-content-center align-items-center gap-3 mb-3 mb-md-0">
      <div class="">
        bSF = <mark style="background-color:yellow">500</mark>
      </div>
      <div class="d-flex align-items-center gap-1">
        <h6 class="mb-0 mr-1 text-right">Option:</h6>
        <select id="530select" class="browser-default form-select form-select-sm" aria-label="Default select example">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>
  {% endif %}
  <div class="col d-flex justify-content-end">
    <i class="material-icons material-symbols-outlined text-black-50" title="Print">print</i>
  </div>
</div>
